{% extends '@EasyAdmin/page/content.html.twig'%}

{% block content_title %}Welcome to the admin page of "Glimpse of the Past"{% endblock %}

{% block main %}
    <div>
        <p>Selecteer in de menu in welke tabel je aanpassingen wilt maken.</p>
    </div>
{% endblock %}